body {
  background-color: rgb(251, 243, 217) !important;
  color: indigo(900) !important;
  padding-top: 80px;
  color: rgb(1, 78, 36);
}
/* Navbar */

.navbar-brand {
  font-size: 24px;
  font-weight: bold !important;
  color: rgb(1, 78, 36) !important;
}

.navbar-nav .nav-link {
  color: #052707;
  margin-left: 15px;
}

.navbar-nav .nav-link:hover {
  color: #9fd3c1;
}
#content {
  font-size: 25px;
  margin: 150px;
  margin-top: 50px;
  font-family:
    pt "Gill Sans",
    "Gill Sans MT",
    Calibri,
    "Trebuchet MS",
    sans-serif;
}
#nav {
  background-color: #5b8661 !important;
  padding: 15px 30px;
  position: fixed;
  font-family: var(--bs-body-font-family);
  font-size: 1rem;
}
h1 {
  color: #073b1d;
  text-align: center;
  padding-top: 50px;
}

.oswald {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
}
#doit {
  width: 100%;
}
#do {
  width: 100%;
}
