#relax-image {
  place-items: bottom;
  min-height: 1000px;
}
.img-fluid {
  place-items: middle;
  position: center;
}
#blabla {
  width: 100%;
  object-fit: cover;
}
#ideal {
  font-size: 40px;
  text-align: center;
}
.audio1 {
  width: 100%;
}
.audio2 {
  width: 100%;
}
