body {
  background-color: blanchedalmond;
}
body {
  text-align: left;
  margin: 5px;
  color: rgb(1, 78, 36);
  font-size: 18px;
}
img {
  width: 72%;
  border-radius: 10%;
  height: 80%;
  /* item-size: */
}

h1 {
  text-align: center;
  margin: 100px;
  color: rgb(1, 78, 36);
}

h2 {
  color: rgb(1, 78, 36);
  font-size: 24px;
}

#paragraph-left {
  text-align: left;
}

h3 {
  color: rgb(1, 78, 36);
  font-size: 24px;
}

h4 {
  color: rgb(1, 78, 36);
  font-size: 24px;
}
